body {
    background: url(../images/throne.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#banner {
    width: 100%;
    height: 150px;
    opacity: .20;
}

#bannerText {
    margin-top: 70px;
}

#bannerH1 {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: white;
    margin-top: 10px;
    font-size: 55px;
}

#bannerH3 {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: white;
}

#question {
    margin-top: 250px;
    margin-left: 550px;
    color: skyblue;
}

#c1 {
    padding-top: 10px;
    margin-left: 550px;
    color: darkgrey;
}

#c2 {
    padding-top: 10px;
    margin-left: 550px;
    color: darkgrey;
}

#c3 {
    padding-top: 10px;
    margin-left: 550px;
    color: darkgrey;
}

#c4 {
    padding-top: 10px;
    margin-left: 550px;
    color: darkgrey;
}

.lSpace {
    margin-left: 20px;
}